<!doctype html>
<html>
  <head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <br><br>
    <center>
      <h1>404 Not found</h1>
      <img src="/404.jpg" alt="Not found">
    </center>
  </body>
</html>
